body{
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #bbbbbb;
    padding: 20px 0;
}
.headerBox {
    width: 80vw;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.banner{
    width: 100%;
}

main{
    margin: 0 12.5%;
}

.tituloPrincipal{
    text-align: center;
    font-size: 2em;
    margin: 1em 0 1em;
}
p::first-line{
    font-style: italic;
}
.principal p{
    margin: 0 0 1em;
}
.principal strong{
    font-weight: bold;
}
.principal em{
    font-style: italic;
}
.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.map{
    text-align: center;
    padding: 0 0 1em;
}
.map p{
    margin-bottom: 2em;
}

.beneficios{
    clear: left;
    padding: 0 0 1em;
}
.beneficiosContent{
    width: 640px;
    margin: auto;
}
.itens{
    line-height: 1.5;
}
.itens:first-child{
    font-weight: bold;
}
.beneficiosContent ul{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.imagemBeneficios{
    width: 60%;
}
.video{
    width: 560px;
    margin: 2em auto;
}

footer{
    background-color: #000000;
    text-align: center;
    padding: 40px 0;
}

.copyRight{
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}

@media screen and (max-width: 480px){
    .headerBox, .principal, .beneficiosContent, .map, .video{
        width: auto;
    }
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    nav ul{
        text-align: center;
    }
    nav ul li{
        /* text-align: center; */
        padding: 5px;
        margin: 0 auto;
    }
    .beneficiosContent ul, .beneficiosContent img{
        width: 100%;
    }
}