*{
    box-sizing: border-box;
}
header{
    background-color: #bbbbbb;
    padding: 20px 0;
}
.headerBox {
    width: 80vw;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}
.services{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.services li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: #000000 1px solid;
    border-radius: 10px;
}
.services li:hover{
    border-color: #C78C19;
}
.services li:active{
    border-color: #088c19;
}
.services li h2{
    font-size: 30px;
    font-weight: bold;
}
.services li:hover h2{
    font-size: 35px;
}
.services li .description{
    font-size: 18px;
}
.services li .price{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    background-color: #000000;
    text-align: center;
    padding: 40px 0;
}

.copyRight{
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}

@media screen and (max-width:940px){
    .headerBox{
        width: auto;
    }
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    nav ul{
        text-align: center;
    }
    nav ul li{
        padding: 5px;
        margin: 0 auto;
    }
    .services{
        width: auto;
        text-align: center;
    }
    .services li{
        width: 80%;
        margin-bottom: 10px;
        padding: 20px 15px;
    }
    .services li h2{
        font-size: 2em;
    }
    .services li img{
        width: 50%;
    }
}